.hero {
    background-image: url('_hero.png');
    height: 75px;
    width: 85px;
}

.hero.mutant {
    background-position-x: 0 ;
    background-position-y: 0 ;
}

.hero.mage {
    background-position-x: -85px ;
    background-position-y: 0 ;
}

.hero.zero {
    background-position-x: -170px ;
    background-position-y: -75px ;
}

.eq.boots {
    background-image: url('./boots.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 50px;

    position: absolute;
    top: 0;
    right: 0;

    z-index: 10;
}