td:before {
	width: 30px;
	height: 30px;
	display: inline-block;
	content: ' ';
}

//colors, defined by user for gradient
$start_color: #00ff00;
$end_color: #0000ff;

$total_count: 10;


/*
	logic for show gradient
 */

$counter: $total_count;
$diff: $end_color - $start_color;
$step: $diff / $total_count;

@while $counter > 0 {
  	td:nth-child(#{$counter}) {
		background-color: $start_color + $step  * $counter;
	}
  	$counter: $counter - 1;
}

