body {
  padding: 0;
  margin: 0;

  & > div {
    width: 100vw;
    height: 100vh;

    position: static;
  }
}

div {
  width: 80%;
  height: 80%;

  background-color: rgba(0, 0, 0, .05);

  position: relative;
  left: 10%;
  top: 10%;
}